
{{#unless loggedInAs}}

<div class="col-md-12 mt-2 text-center mx-auto" style="padding-top: 200px">
    <form action="/login" method="GET">
        <button id="join" class="btn btn-lg btn-mg"  type="submit">click this</button>
    </form>
</div>

{{/unless}}

{{message}}