<div class="landing">
    <img class="mx-auto d-block img-fluid landing-logo" src="../images/logo512.png">
    <h1 class="text-center" style="color:#FF5E37">{{title}}</h1>
    <h1 class="text-center" style="color:#FF5E37; font-size: 12pt;">learn more below</h1>
</div>
<div id="bottom">
    <a href="#faq">
        <img class="mx-auto d-block landing-arrow" src="../images/arrow.png">
    </a>
</div>
<hr class="my-4">
<div class="col-lg-12 row segment mx-auto" id="faq">
    <div class="col-md-6">
        <h4>What is the Mappers' Guild?</h4>
        <p class="ml-4">In short, it's a group of mappers responsible for creating maps for osu!'s featured artists! You may have seen our maps included in map pack/hush hush medals, as well as news posts like...</p>
        <ul style="list-style-type: none">
            <li><a href="https://osu.ppy.sh/home/news/2017-11-07-new-featured-artist-motoloid">MOtOLOiD Featured Artist release</a></li>
            <li><a href="https://osu.ppy.sh/home/news/2018-08-13-new-featured-artist-high-tea-music">High Tea Music Featured Artist release</a></li>
            <li><a href="https://osu.ppy.sh/home/news/2019-02-05-new-featured-artist-hyun">HyuN Featured Artist release</a></li>
        </ul>
        <p class="ml-4">The Mappers' Guild has been running for more than a year with participation from around 40 mappers. Through this website and automated functionality, we're now able to bring in more mappers (potentially including you)!</p>
    </div>
    <div class="col-md-6" style="object-fit: cover;">
            <img src="../images/mappers-guild-sets.jpg" style="width:100%; border-radius:4px 4px 4px 4px">
            <a href="https://osu.ppy.sh/home/news/2018-05-25-new-featured-artist-cranky" class="small float-right my-2 mr-3"><b>example Mappers' Guild content</b></a>
    </div>
</div>

<hr class="my-4">

<div class="col-lg-12 row segment mx-auto">
    <h4>How does the Mappers' Guild work?</h4>
    <p class="ml-4">In addition to making maps of music licensed by osu!, the Mappers' Guild has similaritiess to any other MMO-style guild. We support subgroups of mappers (parties) working together to create map packs for specifically assigned artists or other content (quests). By creating maps and participating in the mapping process, a user can earn points and level up to receive rewards!</p>
    <div class="col-md-6 mt-2">
        <h5>Quests</h5>
        <p class="ml-4">Quests reward mappers for following certain requirements when creating their Featured Artist.</p>
        <p class="ml-4">For example, a quest's objective could be "<i>create 5 mapsets of songs from Camellia</i>", necessitating a party of 5-10 members and completion within 3 months.</p>
        <p class="ml-4">If a party accepts and completes the quest according to its rules, each party member will be rewarded point bonuses. If a party drops the quest, they will lose points.</p>
    </div>
    <div class="col-md-6 mt-2">
        <h5>Parties</h5>
        <p class="ml-4">Parties are groups of mappers who register to complete quests together. Mappers may join one party at a time and each party may undertake one quest at a time.</p>
        <p class="ml-4">Special quests require higher ranks to participate in. For a party to qualify as a higher rank, at least half of its members must be the required rank or higher.</p>
    </div>
    <p class="ml-4">Quests and parties are rewarding ways to get involved with the Mappers' Guild, however our main goal is to produce maps for osu!'s featured artists, and that can be done however you prefer!</p>
</div>

<hr class="my-4">

<div class="col-lg-12 row segment mx-auto">
    <h4>Why join the Mappers' Guild?</h4>
    <div class="col-md-12 mt-2">
        <p class="ml-4">By creating maps through the Mappers' Guild that abide by our rules, you can earn rewards!</p>
        <h5>Profile badge</h5>
        <p class="ml-4">Depending on a user's rank within the Mappers' Guild, they can have access to special quests (unlocked at rank 1) and the ability to help decide new featured artists (unlocked at rank 2). Additionally, ranked users earn one of three profile badges:</p>
    </div>
    <div class="col-md-4 mt-2 text-center">
        <p>Bronze (100 points)</p>
        <img src="../images/rank1.png" class="osu-badge">
    </div>
    <div class="col-md-4 mt-2 text-center">
        <p>Silver (250 points)</p>
        <img src="../images/rank2.png" class="osu-badge">
    </div>
    <div class="col-md-4 mt-2 text-center">
        <p>Gold (500 points)</p>
        <img src="../images/rank3.png" class="osu-badge">
    </div>
    <div class="col-md-12 mt-2"><p class="ml-4 mt-4">Points are earned through a few different Mappers' Guild activities:</p></div>
    <div class="col-md-8 mt-2">
        <table class="table">
            <thead>
                <td scope="col" style="padding: 2px;">Task</td>
                <td scope="col" style="padding: 2px;">Points</td>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" style="padding: 1px;">Mapping <i class="easy">Easy</i> difficulty</td>
                    <td scope="row" style="padding: 1px;">5 (+2 if attached to quest)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Mapping <i class="normal">Normal</i> difficulty</td>
                    <td scope="row" style="padding: 1px;">6 (+2)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Mapping <i class="hard">Hard</i> difficulty</td>
                    <td scope="row" style="padding: 1px;">7 (+2)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Mapping <i class="insane">Insane</i> difficulty</td>
                    <td scope="row" style="padding: 1px;">8 (+2)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Mapping <i class="expert">Expert</i> difficulty</td>
                    <td scope="row" style="padding: 1px;">8 (+2)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Hosting mapset</td>
                    <td scope="row" style="padding: 1px;">5</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Modding mapset</td>
                    <td scope="row" style="padding: 1px;">2.5</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Creating storyboard</td>
                    <td scope="row" style="padding: 1px;">10 (+2)</td>
                </tr>
                <tr>
                    <td scope="row" style="padding: 1px;">Completing a quest</td>
                    <td scope="row" style="padding: 1px;">variable</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="col-md-4 mt-2 mx-auto">
        <p class="ml-4">Collab difficulties split points evenly between users. Aside from the last task, points are rewarded upon a map reaching Ranked status.</p>
    </div>
    <div class="col-md-10 mt-2">
        <h5>Promotion</h5>
        <p class="ml-4">Maps created through the Mappers’ Guild will be used in medals and occasionally as promotional material.</p>
        <p class="ml-4">Most quests will have their own themed medal, while other unrelated mapsets will be grouped under a general Mappers’ Guild medal. Special quests involving unannounced Featured Artists will additionally be used as promotional material in news posts when applicable.</p>
    </div>
    <div class="col-md-2 mt-2">
        <img src="../images/medal.png" class="osu-badge">
    </div>

</div>

{{#unless loggedInAs}}

<hr class="my-4">

<div class="col-lg-12 row segment mx-auto">
    <h4>How do I join the Mappers' Guild?</h4>
    <div class="col-md-12 mt-2">
        <p class="ml-4">If you have 3 or more ranked maps, you can join the Mappers' Guild by clicking the button below and authenticating through your osu! login. If you don't meet the requirements, come back when you have!</p>
        <p class="ml-4">Additionally, we recommend reading the <a href="/faq">frequently asked questions</a> page to better understand what you may be doing as a member of the Mappers' Guild.</p>
    </div>
</div>
<div class="col-md-12 mt-2 text-center mx-auto">
    <form action="/login" method="GET">
        <button id="join" class="btn btn-lg btn-mg" type="submit">Join the guild!</button>
    </form>
</div>

{{/unless}}

<div class="text-center" style="margin-bottom: 50px;">
    <img src="../images/logo512.png" style="width:171px; height: 150px; margin-top: 50px;">
</div>

{{#if loggedInAs }}
<div id="notifications">
    <notifications-access></notifications-access>
</div>

<script src="../js/notificationsComponent.js"></script>
{{/if}}
