<div class="row">
    <div class="col-md-12">
        <p class="small">Filter: <a href="#">User</a> | <a href="#">Action</a></p>
        <table class="small table">
            <thead>
                <th scope="col" style="padding: 2px;">date</th>
                <th scope="col" style="padding: 2px;">user</th>
                <th scope="col" style="padding: 2px;">action</th>
            </thead>
            <tbody>
                {{#each logs}}
                <tr>
                    <td scope="row" style="padding: 1px;">{{createdAt}}</td>
                    <td scope="row" style="padding: 1px;">{{user.username}}</td>
                    <td scope="row" style="padding: 1px;">{{action}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-sm btn-mg" type="button" id="showMore">
                <i class="fas fa-angle-down mr-1"></i> show more <i class="fas fa-angle-down ml-1"></i>
            </button>
        </div>
    </div>
</div>
