<div class="container bg-container pt-1 pb-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-dark table-hover mt-3">
                <thead>
                    <td scope="col">date</td>
                    <td scope="col">user</td>
                    <td scope="col">action</td>
                </thead>
                <tbody>
                    <% logs.foreach(l => { %>
                    <tr>
                        <td scope="row"><% l.createdAt.toString().slice(4, 24) %> GMT</td>
                        <td scope="row"><% l.user.username%></td>
                        <td scope="row"><% l.action %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-sm btn-mg" type="button" id="showMore">
                    <i class="fas fa-angle-down mr-1"></i> show more <i class="fas fa-angle-down ml-1"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<% if (isNotSpectator) { %>
    <div id="notifications">
        <notifications-access></notifications-access>
    </div>

    <script src="/js/notificationsComponent.js"></script>
<% } %>
