:root {
    --wip: #adff5f;
    --done: rgb(85, 209, 168);
    --ranked: #6dcff6;
    --blocked: rgb(170, 170, 170);
    --open: #ff5864;
    --guild: #ff5e37;
    --guild-opacity: rgba(255, 95, 55, 0.637);
    --rest: #7affa8;
    --rank-0: black;
    --rank-1: saddlebrown;
    --rank-2: silver;
    --rank-3: gold;
    --rank-0-bg: rgb(238, 238, 238);
    --rank-1-bg: rgb(187, 159, 139);
    --rank-2-bg: rgb(210, 224, 233);
    --rank-3-bg: rgb(255, 219, 102);
    --dark: #252525;
    --dark-alpha: #252525a6;
    --clicked: rgb(84, 161, 192);
    --easy: rgb(234, 255, 212);
    --normal: rgb(212, 231, 255);
    --hard: rgb(255, 245, 212);
    --insane: rgb(255, 212, 212);
    --expert: rgb(231, 205, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #151515;
    background: url('../images/triangles.png') repeat fixed;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Aquatico';
    src: url('aquatico-regular-webfont.woff');
}

footer {
    font-family: Aquatico;
}

a {
    color: rgb(238, 238, 238);
    font-weight: bold;
}

#app {
    min-height: calc(80vh);
    visibility: hidden;
}

#push {
    min-height: calc(80vh);
}

#loading {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: calc(50vh);
    text-align: center;
    z-index: 1;
}

#loading img {
    vertical-align: middle;
}

.card-status {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid transparent;
    z-index: 10000;
}

.card-status-open {
    border-right: 15px solid var(--open);
}

.card-status-wip {
    border-right: 15px solid var(--wip);
}

.card-status-done {
    border-right: 15px solid var(--done);
}

.card-status-qualified {
    border-right: 15px solid var(--guild);
}

.card-status-ranked {
    border-right: 15px solid var(--ranked);
}

.segment {
    background-color: var(--dark-alpha);
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 10px 5px black;
}

.osu-badge {
    border-radius: 4px 4px 4px 4px;
    filter: drop-shadow(1px 1px 1px #000000);
}

.guild-text {
    font-family: Aquatico;
    color: var(--guild);
}

.guild-section {
    background-color: var(--guild);
}

.dropdown-item:hover {
    background-color: var(--ranked);
}

.dropdown-item:focus {
    background-color: var(--clicked);
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--guild);
}

::selection {
    color: white;
    background: var(--guild);
}

.landing {
    font-family: Aquatico;
    min-height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.landing-logo {
    vertical-align: middle;
}

.landing-arrow {
    padding-bottom: 20px;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.modal-body {
    border-radius: 0 0 5px 5px;
}

.append-button-padding {
    padding-right: 4px;
}

.custom-bg-dark {
    background-color: var(--dark);
}

.border-outline {
    border: 1px solid rgb(20, 20, 20);
}

.btn-mg-used {
    background-color: var(--open);
    border-color: var(--open);
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 10000px;
    padding: 3px 20px;
}

.btn-mg-wip {
    background-color: var(--wip);
    border-color: var(--wip);
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 10000px;
    padding: 3px 20px;
}

.btn-mg-done {
    background-color: var(--done);
    border-color: var(--done);
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 10000px;
    padding: 3px 20px;
}

.btn-mg {
    background-color: var(--done);
    border-color: var(--done);
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 10000px;
    padding: 3px 20px;
}

.btn-mg-disabled {
    background-color: var(--done);
    border-color: var(--done);
}

.btn-sm-rounded-left {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.wip,
.icon-wip {
    color: var(--wip);
}

.done,
.icon-valid,
.icon-done {
    color: var(--done);
}

.qualified {
    color: var(--guild);
}

.ranked {
    color: var(--ranked);
}

.blocked {
    color: var(--blocked);
}

.open,
.icon-used {
    color: var(--open);
}

.errors {
    color: var(--open);
}

.bg-wip {
    background-color: var(--wip);
}

.bg-done {
    background-color: var(--done);
}

.bg-qualified {
    background-color: var(--guild);
}

.bg-ranked {
    background-color: var(--ranked);
}

.bg-blocked {
    background-color: var(--blocked);
}

.bg-open {
    background-color: var(--open);
}

.bg-hidden {
    background-color: var(--blocked);
}

.bg-rank-0 {
    background-color: var(--rank-0-bg);
}

.bg-rank-1 {
    background-color: var(--rank-1-bg);
}

.bg-rank-2 {
    background-color: var(--rank-2-bg);
}

.bg-rank-3 {
    background-color: var(--rank-3-bg);
}

.bg-rest {
    background-color: var(--rest);
}

@media (min-width: 768px) {
    .bm-col-separator-left {
        border-left: 3px solid rgba(0, 0, 0, 0.5);
    }
}

input[type='text'],
input[type='text']:focus {
    background-color: #333;
    color: white;
    border-color: transparent;
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 0 100px 100px 0;
}

textarea,
textarea:focus {
    background-color: #333;
    color: white;
    border-color: transparent;
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 0 100px 100px 0;
}

.custom-select {
    min-width: 5em;
    width: 5em;
    height: 2.5em;
    background-color: #333;
    color: white;
    border-color: transparent;
}

.input-group-sm > .custom-select {
    padding-left: 10px;
    filter: drop-shadow(1px 1px 1px #000000);
    border-radius: 100px 0 0 100px;
}

.select-arrow {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em), calc(100% - 15px) calc(1em),
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.select-arrow-filter {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 10px) calc(0.75em), calc(100% - 5px) calc(0.75em),
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.confirm {
    color: var(--ranked);
}

.tooltip {
    font-family: 'Roboto', sans-serif;
}

.bs-tooltip-top > .arrow::before {
    border-top-color: rgb(238, 238, 238);
}

.bs-tooltip-bottom > .arrow::before {
    border-bottom-color: rgb(238, 238, 238);
}

.bs-tooltip-left > .arrow::before {
    border-left-color: rgb(238, 238, 238);
}

.bs-tooltip-right > .arrow::before {
    border-right-color: rgb(238, 238, 238);
}

.tooltip > .tooltip-inner {
    background-color: rgb(238, 238, 238);
    color: #333;
}

.card {
    transition: all 0.12s ease-in-out;
    opacity: 0.9;
    box-shadow: 1px 1px 10px 0px #333;
    cursor: default;
}

.card:hover {
    transform: scale(1.03);
    opacity: 1;
}

.static-card:hover {
    transform: scale(1) !important;
    opacity: 1;
}

.card-img {
    size: 80%;
    min-width: 400px;
    min-height: 100px;
    position: relative;
    opacity: 0.5;
}

.card-body p {
    margin: 0;
}

.border-rank-0 {
    border-top: 5px solid var(--rank-0);
}

.border-rank-1 {
    border-top: 5px solid var(--rank-1);
}

.border-rank-2 {
    border-top: 5px solid var(--rank-2);
}

.border-rank-3 {
    border-top: 5px solid var(--rank-3);
}

/* SCROLLBAR STUFF TO DO LATER
.scroll-column::-webkit-scrollbar-track {
    background:transparent;
}
 
.scroll-column::-webkit-scrollbar {
    width:5px;
    background: transparent;
}

.scroll-column::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.scroll-column::-webkit-scrollbar-corner {
    background: #000;
}

.scroll-column{
    overflow-y:scroll;
    height:300px;

    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
*/

.the-a-background {
    width: 557px;
    height: 600px;
    margin-left: 110px;
    position: absolute;
    opacity: 0.6;
    filter: blur(5px);
    pointer-events: none;
}

.overwrite-card-spacing {
    margin: 0;
    padding: 0.5rem 1rem 1rem 1rem;
}

.notification-card-spacing {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.notification-button {
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 10pt;
}

.indent {
    padding-left: 20px;
}

.text-shadow {
    text-shadow: 1px 1px 1px #000000;
}

a:hover {
    color: var(--ranked); 
    text-decoration: none;
}

.btn:hover:enabled {
    background-color: var(--ranked);
    border-color: var(--ranked);
}

.btn:hover:active {
    background-color: var(--clicked);
    border-color: var(--clicked);
}

a:active {
    color: var(--clicked);
}

@media (min-width: 992px) {
    .navbar-brand {
        border-right: 3px solid white;
        padding-right: 1rem;
    }
}

.list-enter-active,
.list-leave-active,
.list-move {
    transition: all 1s;
}

.list-leave-active {
    position: absolute;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

hr {
    border: 1px solid white;
    opacity: 0.5;
    margin-left: -30px;
    margin-right: -30px;
}

.easy {
    color: var(--easy);
}

.normal {
    color: var(--normal);
}

.hard {
    color: var(--hard);
}

.insane {
    color: var(--insane);
}

.expert {
    color: var(--expert);
}

.sorted {
    border-bottom: 1px solid white;
}

.nav-avatar {
    height:50px; 
    width:50px; 
    filter: drop-shadow(1px 1px 1px #000000); 
    padding: 0;
}

@media (max-width: 768px) {
    .nav-avatar-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-logout {
        display: none;
    }
}