<div class="segment">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu lorem velit. Mauris non magna nunc. Mauris accumsan leo sit amet neque tempor ultrices. Nullam sagittis erat nibh, eu tempor leo posuere sed. Quisque lacinia lorem nec elit sollicitudin laoreet. Morbi est est, lobortis eget libero sit amet, finibus vulputate neque. Donec interdum sollicitudin laoreet. Curabitur rhoncus dignissim lorem porta suscipit. Phasellus dignissim ultricies justo, a eleifend sem tristique vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu lorem velit. Mauris non magna nunc. Mauris accumsan leo sit amet neque tempor ultrices. Nullam sagittis erat nibh, eu tempor leo posuere sed. Quisque lacinia lorem nec elit sollicitudin laoreet. Morbi est est, lobortis eget libero sit amet, finibus vulputate neque. Donec interdum sollicitudin laoreet. Curabitur rhoncus dignissim lorem porta suscipit. Phasellus dignissim ultricies justo, a eleifend sem tristique vitae.</p>
    {{#unless loggedInAs}}
    <form class="col-md-12 mt-2 text-center mx-auto" action="/qat/login" method="GET">
        <button class="btn btn-lg btn-mg" type="submit">Verify your account to apply</button>
    </form>
    {{/unless}}
</div>

<hr>

{{#if loggedInAs}}
<div class="segment">
    <h4>Game-mode:</h4>
    <div class="form-group row">
        <div class="pl-4">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mode" id="osu" value="osu">
            <label class="form-check-label" for="osu">osu!</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mode" id="taiko" value="taiko">
            <label class="form-check-label" for="taiko">osu!taiko</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mode" id="catch" value="catch">
            <label class="form-check-label" for="catch">osu!catch</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="mode" id="mania" value="mania">
            <label class="form-check-label" for="mania">osu!mania</label>
            </div>
        </div>
    </div>

    <h4>Example mods:</h4>
    <p class="small ml-4 mb-3">must provide at least two mods from within the last 6 months. link pages or something</small>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%">
            <div class="input-group mb-3">
                <input id="mod0" type="text" class="form-control" placeholder="link to mod" style="border-radius: 100px 100px 100px 100px">
            </div>
            <div class="input-group mb-3">
                <input id="mod1" type="text" class="form-control" placeholder="link to mod" style="border-radius: 100px 100px 100px 100px">
            </div>
            <div class="input-group mb-3">
                <input id="mod2" type="text" class="form-control" placeholder="link to mod" style="border-radius: 100px 100px 100px 100px">
            </div>
            <div class="input-group mb-3">
                <input id="mod3" type="text" class="form-control" placeholder="link to mod" style="border-radius: 100px 100px 100px 100px">
            </div>
        </div>
    </div>

    <div id="errors" class="errors"></div>
    <div id="confirm" class="confirm"></div>

    <div class="col-md-12 mt-2 text-center mx-auto">
        <button id="apply" class="btn btn-lg btn-mg" type="submit">Apply</button>
    </div>
</div>
<hr>
{{/if}}
